{
  "extends": [
    "eslint-config-unjs"
  ],
  "rules": {
    "unicorn/no-null": 0,
    "unicorn/prevent-abbreviations": 0,
    "no-undef": 0,
    "unicorn/text-encoding-identifier-case": 0,
    "unicorn/filename-case": 0,
    "unicorn/prefer-code-point": 0,
    "unicorn/prefer-math-trunc": 0
  }
}
