{
  "extends": [
    "eslint-config-unjs"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": 0,
    "unicorn/no-null": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "unicorn/prefer-math-trunc": 0,
    "unicorn/prefer-code-point": 0,
    "unicorn/text-encoding-identifier-case": 0,
    "prefer-rest-params": 0,
    "prefer-spread": 0
  }
}
